.containerQuery {
    text-align:center;
}

.chart {
    width: 80%;
    height:100%;
    margin: auto;
}
.textarea {
    resize: vertical;
    width: 100%;
}

body {
	font-family: Arial;
	margin: auto;
	overflow: hidden;
}

/* Style the tab */
.tab {
    max-height: 7vmax;
    overflow: auto;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 1em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    height: auto;
    overflow: auto;
    padding: 6px 12px;
    border-top: none;
}

.queryOperatore-wrapper{
    max-height: 75vh;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.queryChart-wrapper{
    max-height: 75vh;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: auto ;
    grid-template-rows: auto;
}

.query-select {
    grid-row: 1;
    grid-column: 1;
}

.query-radio {
    grid-row: 1;
    grid-column: 2;
}

.queryBagsSend-wrapper{
    max-height: 75vh;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}

.query-date {
    grid-row: 1;
    grid-column: 2;
    margin-left: 33%;
}

.queryBagsReceived-wrapper{
    max-height: 75vh;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}


.col-sm-10 {
    max-width: 45%;
}

.col-sm-2 {
    max-width: 3%;
}

.form-group {
    margin-left: 33%;
}

.myInput {
  background-image: url('/assets/img/searchicon.png');
  background-position: 3%;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 14px;
  padding: 12px 8px 12px 35px;
  border: 1px solid #ddd;
}

.return {
 	max-width: 40px;
	max-height: 30px;
}

