.container {
	height: 50vh;
	max-width: 100%;
	margin: 1.5% auto;
}

.containerForm {
	overflow:auto; 
	padding-left: 4%;
}

.dateForm {
    min-height: 100%;
	background-color: #13958d;
	background-image: linear-gradient(#005C56,#13958d);
}

.titleDateForm {
	width: auto;
	height: 6vh;
}

div.titleDateForm button {
	margin-top: 5%;
}

.inputForm {
	width: 20%;
	height: 1%;
	margin: -3em 40%;
}


div.inputForm input {
	width: 250%;
	font-size: 19px;
	font-family: Calibri light;
}

div.inputForm select {
	width: 250%;
	font-size: 19px;
	font-family: Calibri light;
}

.previewForm {
	height: 100%;
	background-color: #13958d;
	background-image: linear-gradient(#005C56,#13958d);
}


.outPreview {
	height: 50%;
	width: 90%;
	max-height: 80%;
	margin: auto;
	background-color: #ffffff;
	overflow: auto;
}


div.row .outPreview p {
	margin: 0px;
	font-size: 1.5vmax;
	font-family: muli,sans-serif;
	padding-left: 5px;
	color: rgb(0,0,0);
	text-align: left;
	width: auto;
}


.return {
 	max-width: 40px;
	max-height: 30px;
}


.row {
	margin-right:0px;
	margin-left:0px;
}


div.row p{
	width: 250px;
	font-size: 1.5vmax;
	font-family: Calibri light;
	color: rgb(255,255,255);
	text-align: center;
}

div.row label{
	width: 250px;
	height: 40px;
	font-size: 1.5vmax;
	font-family: Calibri light;
	color: rgb(255,255,255);
	margin: 1% 4%;
}


.textPrint {
	color: #13958d;
	font-weight: bold;
}

.errorPrint{
	color: red;
	font-weight: bold;
	font-size: 16px;
}


.box {
	height: 50%;
	margin: 1.5% auto;
	width: 1250px;
	background-color: #13958d;
	background-image: linear-gradient(#005C56,#13958d);
}

.containerFormPass {
    padding-top: 5%;
	max-width: 33.333333%;
	margin: auto;
}
	

div.containerFormPass label {
	font-weight: bold;
}
