.titlePage {
	background-color: #13958d;
	background-image: linear-gradient(#13958d,#214F52);
	padding: 1vmax 1vmax;
}

.footer {
	position: fixed;
	bottom: 0;
   	width: 100%;
	height: 2.5rem;
   	background-color: #13958d;
	background-image: linear-gradient(#214F52,#13958d);
}


.row {
	margin-right:0px;
	margin-left:0px;
}


.logo {
	margin-top: -0.5em;
	width:10vmax;
}


span.fontTitle {
	color: rgb(255,255,255);
	font-size: 3vmax;
	font-family: muli,sans-serif;
}

.loginForm {
	width: auto;
	max-width: 20em;
	margin: 2% auto;
	padding-bottom: 2%;
}


.boxProfile {
	background-color: #eef4f7;
	margin: 1% 0%;
}

div.col-sm span,p {
	font-family: muli,sans-serif;
	font-size: 1em;

}

.boxButton {
	background-color: #eef4f7;
	margin: 1% 0%;
	margin-left: 1%;
}

.containerBtn {
	text-align: center;
	margin-top: 6%;
}

.boxNotification {
	padding-left: 0px;
	padding-right: 0px;
	background-color: #eef4f7;
	margin-bottom: 4%;
}

div.boxNotification h2 {
	font-family: muli,sans-serif;
	margin: 10px 30px;
	text-align: left;
}	

.divNot {
	overflow:auto;
	max-height: calc(44vh);
}




