#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #17a2b8;
  color: white;
}


#tableSangueSend {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableSangueSend td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
}

#tableSangueSend th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableSangueSend tr:nth-child(even){background-color: #f2f2f2;}

#tableSangueSend tr:hover {background-color: #ddd;}

#tableSangueSend th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #17a2b8;
  color: white;
  font-size: 2vh;
}

#tableSangueRec {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#tableSangueRec td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 16px;
}

#tableSangueRec th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tableSangueRec tr:nth-child(even){background-color: #f2f2f2;}

#tableSangueRec tr:hover {background-color: #ddd;}

#tableSangueRec th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #17a2b8;
  color: white;
  font-size: 2vh;
}